---
layout: default
---
<section class="content">

  <h1 class='section_title'>Hello!</h1>
  <img class='inset right' title='Waseem Suleman' src='/img/me_drink.jpg' alt='Photo of Waseem Suleman' />

  <p> 
    My name is Waseem Suleman and I am a computer scientist.</br>
    I experiment with web technologies and functional programming languages such as Haskell. I also take interest in computer game programming and mobile devices.
    </br></br>
    Although I have other interests such as boxing and swimming, most of my blog posts will focus on my technological interests.
    </br></br>
    Please check the <i>about</i> page to learn a bit more about me.
  </p>

{% if site.posts.size > 0 %}
  <div class="section">
      <a href="#2" class="showhide section_title lined">Latest Posts</a>
      <div class="slickbox" id="2">
        {% include paginate_thin.liquid %}
      </div>
  </div>
{% endif %}
  
  <div class="section">
	  <a href="#3" class="showhide section_title lined">Current projects</a>
	  <div class="slickbox" id="3" >
          <p>Right here, is where my current projects are listed.</p>
		  {% assign proj1 = 'na' %}
		  {% assign proj2 = 'na' %}
		  {% assign proj3 = 'na' %}
          {% assign proj = 0 %}
          {% for post in site.posts %}
			
			{% if (post.project_tag) %}
				{% if proj3 == 'na' %}
					{% if proj1 != post.project_tag and proj2 != post.project_tag %}

						{% if proj1 == 'na' %}
							{% assign proj1 = post.project_tag %}
                            {% assign proj = 1 %}
						{% else %}
							{% if proj2 == 'na' %}
								{% assign proj2 = post.project_tag %}
                                {% assign proj = 2 %}
							{% else %}
								{% assign proj3 = post.project_tag %}
                                {% assign proj = 3 %}
							{% endif %}
						{% endif %}
                        
						<div id="proj{{ proj }}" class="recent_project">
							<a href="/tag/{{ post.project_tag }}">
                                <h1 class="proj_title">{{ site.my_project[post.project_tag].title }}</h1>
                                <img src="{{ site.my_project[post.project_tag].image }}" class="post_img space_line parentsize"/>
							</a>
                            <p class="proj_summary">{{ site.my_project[post.project_tag].description }}</p>
						</div>
					{% endif %}
				{% endif %}
			{% endif %}
          {% endfor %} 
          {% if proj1 == 'na' %}
            {{ "<p class='noproject'>Seems like im not participating in any project at the moment.</p>" }}
          {% endif %}
	  </div>  
  </div>
  
</section>
