---
layout: default
---

<section class="content">

  <p>
    I use this section to serve as my personal blog. I dont have any specific goal on
    what to write about so topics can vary quite heavily. Please use the tags below to
    help navigate around topics that may interest you.
  </p>


{% if site.posts %}
  <div class='cloud'>
	{% tag_cloud %}
  </div>
  
  <div class="section">
      <a href="#2" class="showhide section_title lined">Recent Posts</a>
      <div class="slickbox" id="2">
        {% include paginate_posts.liquid %}
      </div>
  </div>
{% else %}
  {% if proj1 == 'na' %}
    {{ "<p class='noproject'>Seems like I have yet to write some posts.</p>" }}
  {% endif %}
{% endif %}
</section>
