---
layout: default
comments: true
---

{% if page.image %}
    <img class="post_img space_line parentsize" src="{{ page.image }}" />
{% endif %}

<h1 class="inpost_title">{{page.title}}</h1>

<div class="date_tag">
    <h2 class="thin_date">{{ page.date | date: "%d/%m/%y %H:%M:%S" }} </h2>
</div>

{{ content }}

<div id="page-navigation"> 
        <div class="clear">&nbsp;</div> 
        <div class="bottom_left"> 
        {% if page.previous.url %} 
                <a href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">&laquo; {{page.previous.title}}</a> 
        {% endif %} 
        </div> 

        <div class="next_post"> 
        {% if page.next.url %} 
                <a href="{{page.next.url}}" title="next Post: {{page.next.title}}">{{page.next.title}} &raquo; </a> 
        {% endif %} 
        </div> 
        <div class="clear">&nbsp;</div> 
</div>

<hr/>
<div>
   
    <ul class="compact">
     <li id="tags">Tags:</li>
    {% for tag in page.tags %}
        <li class="tag archive_list"><a class="tag_list_link" href="/tag/{{ tag }}">{{ tag }}</a></li>
    {% endfor %}
    </ul>
</div>